$primray: #0E1323;

body{
 background: #BBC0FF;
background: #FFFFFF;
background: #1C204B;
background: #5A1CBB;
background: #7078C9;
background: #29BA66;
background: #3F9CBB;
background: #4BCF82;
background: #55C2E6;
background: #5747EA;
background: #7335D2;
background: #D8D8D8;
background: #D96C47;
background: #E6A532;
background: #F04667;
background: #F1C75B;
background: #FF5E7D;
background: #FF8B64;

}
