@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url(/src/scss/_reset.scss);
@import url(/src/scss/_variable.scss);

body {
  font-family: "Rubik", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e1323;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
main {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  .main-section {
    display: grid;
    grid-template-areas:
      "main-section_card main-section_card main-section_card"
      "main-section_card main-section_card main-section_card ";
    grid-template-columns: 255px;
    grid-template-rows: 244px;
    grid-auto-columns: 255px;
    grid-auto-rows: 244px;
    gap: 30px;

    .main-section_card {
      max-width: 255px;
      height: 244px;
      border-radius: 18px;
      background-image: url(/src/assets/images/Shape.png);
      display: flex;
      flex-direction: column;
      justify-content: end;
      .section-card_about {
        max-width: 255px;
        height: 199px;
        border-radius: 15px;
        background: #1c204b;
        padding: 29px 35px 30px 30px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        .section-card_info {
          display: flex;
          justify-content: space-between;
          h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #fff;
          }
        }
        .section-card_time {
          display: flex;
          flex-direction: column;
          gap: 8px;
          h2 {
            font-weight: 300;
            font-size: 56px;
            line-height: 66.36px;
            color: #fff;
          }
          h4 {
            font-weight: 400;
            font-size: 15px;
            line-height: 21px;
            color: #bbc0ff;
          }
        }
      }
    }
  }

  .main-section_brend {
    border-radius: 15px;
    min-width: 255px;
    height: 518px;
    background: #1c204b;
    .section-brend_image_info {
      border-radius: 15px;
      min-width: 255px;
      height: 354px;
      background: #5747ea;
      padding: 37px 32px 80px 32px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .brend_image_info-sircle {
        width: 86px;
        height: 86px;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 50%;
        }
      }
      .brend_image_info {
        width: 139px;
        height: 116px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        p {
          font-weight: 400;
          font-size: 15px;
          line-height: 17.78px;
          color: #bbc0ff;
        }
        h2 {
          font-weight: 400;
          font-size: 40px;
          line-height: 47.4px;
          font-family: Rubik;
          color: #fff;
        }
      }
    }
    .info {
      padding: 26px 32px;
      display: flex;
      flex-direction: column;
      gap: 21px;
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 21.33px;
        color: #7078c9;
      }
      p:hover {
        font-size: 18px;
        color: #fff;
      }
      h6 {
        font-weight: 400;
        font-size: 18px;
        color: #fff;
        line-height: 21.33px;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        color: #7078c9;
      }
    }
  }
}

@media (max-width: 850px) {
  body {
    height: 313vh;
   padding: 80px 24px;
  }
  main {
    .main-section_brend {
      min-width: 327px;
      height: 203px;
      .section-brend_image_info {
        min-width: 327px;
        height: 133px;
        padding: 35px 39px 34px 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .brend_image_info-sircle {
          width: 64px;
          height: 64px;
          img {
            border-radius: 50%;
            max-width: 64px;
            width: 100%;
          }
        }
        .brend_image_info {
          width: 172px;
          height: 50px;
          p {
            margin-bottom: 4px;
          }
          h2 {
            font-size: 24px;
            line-height: 28.44px;
          }
        }
      }

      .info {
        padding: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
    .main-section {
      display: flex;
      flex-wrap: wrap;
      .main-section_card {
        min-width: 327px;
        height: 160px;
        .section-card_about {
          min-width: 327px;
          height: 122px;
          padding: 28px 24px;
          display:flex;
          gap: 6px;
          .section-card_info {
            h3 {
              font-size: 18px;
              font-weight: 400;
              line-height: 21.33px;
            }
          }
          .section-card_time {
            height: 38px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            h2 {
              font-size: 32px;
              font-weight: 400;
              line-height: 37.92px;
            }
            h4 {
              font-size: 15px;
              line-height: 17.78px;
            }
          }
        }
      }
    }
  }
}
